{% extends 'partials/base.html.twig' %}

{% block content %}
<!-- Section One
================================================== -->
<div class="fill section-one-bg">
  <div id="myCarousel" class="carousel slide" data-random="true" data-ride="carousel" data-interval="0">
    <div class="carousel-inner">
      <div class="item">
        <div class="fill" style="background-image:url('{{ url('image://bg-section1-1.jpg') }}');">
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('{{ url('image://bg-section1-2.jpg') }}');">
        </div>
      </div>
      <div class="item">
        <div class="fill" style="background-image:url('{{ url('image://bg-section1-3.jpg') }}');">
        </div>
      </div>
    </div><!-- carousel-inner -->
  </div><!-- carousel slide -->
</div><!-- container fill -->

<div class="container section-one-container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 section-one-content">
      <img class="img-responsive center hrule-top" src="{{ url('image://hrule-logo@2x.png') }}" alt="hrule-logo@2x" width="340" height="30">
       <h1 class="tagline text-center">Innovation Global Capital partners with exceptional entrepreneurs to build innovative global companies that change the world.</h1>
       <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="1">
    </div>
  </div>
</div><!-- section-one-header -->

<!-- Section Two
================================================== -->
<a class="anchor" id="firm"></a>
<div class="section-two-header">
<div class="container">
<div class="row">
  <div class="col-lg-8 col-lg-offset-2 section-two-content dark-text">
    <h2 class="heading text-center">The Firm</h2>
    <img class="img-responsive center hrule-bottom twenty-five-opacity" src="{{ url('image://hrule-dark@2x.png') }}" alt="hrule@2x" width="340" height="1">
    <h2 class="text-center tagline">We think like entrepreneurs<br>because we are entrepreneurs.</h2>
    <div class="twocolumn dark-text">
      <p>Innovation Global Capital partners with visionary entrepreneurs in the development of strategies, branding, organizations, and operations throughout the progressive stages of growth. Our focus is on long-term value creation, growth and profitability — not quarterly capitalism.</p>
      <p>We have built businesses. We understand the critical role of product, merchandising and branding, having consumer sector experience across three continents. We partner with leaders who are passionate about the customer.</p>
      <p>In select circumstances, Innovation Global Capital will invest in innovative concepts and exciting partners that fulfill our investment criteria. We also have access to substantial pools of capital via relationships with high net worth families, institutional, and strategic investors for co-invest opportunities.</p>
      <p>Our unique combination of executive experience and investment capital can significantly accelerate the growth of our partners.</p>
      <p>Having met with hundreds of entrepreneurs worldwide, a universally reoccurring theme emerged. Most entrepreneurs are looking for trusted partners with executive management experience, yet paradoxically much investment capital comes from financiers with limited real world experience. Innovation Global Capital was founded to fill this void.</p>
      <p>We have experienced the unabashed joys of entrepreneurial success, and the unique challenges of creating and building brands. We support the visionary passion of the entrepreneur yet understand the practical operational realities. We guide the critical path to market leadership.</p>
      <p>We are entrepreneurs.</p>
    </div>
  </div>
</div>
</div>
</div>

 <!-- Section Three
================================================== -->
<!--
<a class="anchor" id="leadership"></a>
<div class="section-three-header">
<div class="container">
<div class="row">
 <div class="col-lg-7 col-md-7 section-three-content">
   <h2 class="text-center">Yasunobu Kyogoku, Founder</h2>
   <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="30">
   <p class="lead">Mr Kyogoku has extensive investing and executive experience spanning three continents. He has served as Chief Investment Officer of Fast Retailing and Chief Operating Officer of Uniqlo USA. He is a current or former Board Member of ModCloth, Theory, Helmut Lang, Comptoir des Cotonniers, Princesse tam.tam and other global brands.</p>
   <div class="twocolumn light-text">
     <p>He has worked with two exceptional billionaire entrepreneurs &mdash; Messrs Tadashi Yanai and Minoru Mori &mdash; in his varied career.</p>
     <p>As the Chief Investment Officer of Fast Retailing, a $36 Billion company, Mr Kyogoku purchased over $1.3 Billion worth of branded fashion companies in the US, Europe and Asia. His investments created significant shareholder value during his involvement with the companies, and became the largest affordable luxury apparel group in the world. As COO of Uniqlo USA, Mr Kyogoku played a pivotal role in developing the brand from a single New York store into a national phenomenon.</p>
     <p>At Mori Building, Mr Kyogoku helped create one of Japan&rsquo;s first Real Estate Investment Trusts, eventually listing in a $750 million IPO that today is worth nearly $2 Billion. He began his career at the management consultancy Bain &amp; Company developing strategies for global technology, internet and consumer product corporations.</p>
     <p>Mr Kyogoku is a Trustee of the San Francisco Zoological Society (SF Zoo), and a Council Member of the Asiatic Society of Japan.</p>
     <p>Mr Kyogoku attended graduate schools at both Oxford University and Tokyo University after graduating from Columbia University.</p>
     <p>He has appeared frequently on television and in print, including CNBC, CBS, Fox Business, Bloomberg, Financial Times, New York Times, Wall Street Journal, and local TV affiliates of ABC, NBC, CBS, and Fox.</p>
   </div>
 </div>
</div>
</div>
</div>
-->
<!-- Section Four
================================================== -->
<div id="investmentStrategySlides" class="carousel slide section-four" data-interval="0">
<a class="anchor" id="investment"></a>
<div class="carousel-inner">
<div class="item active section-four-header">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 section-four-content">
       <h2 class="heading text-center">Investment Strategy</h2>
       <img class="img-responsive center hrule-bottom twenty-five-opacity" src="{{ url('image://hrule-dark@2x.png') }}" alt="hrule@2x" width="340" height="30">
     </div>
     <div class="col-lg-5 col-lg-offset-2 col-sm-10 col-sm-offset-1 dark-text section-four-text">
       <p class="lead">Innovation Global Capital favors opportunities to build innovative brands, leveraging our influential and proprietary relationships, to create the companies of tomorrow.</p>
       <p class="lead">Given our extensive investment and operational track record at the intersection of fashion, commerce, and social engagement, we specialize in growth opportunities across a select range of consumer facing sectors.</p>
       <p class="lead">Creativity and rationality must coexist. We embrace both the emotion of brands, and the realities of business.</p>
       <p class="lead">We bring powerful executive experience and investment capital to the table.</p>
     </div>
     <div class="col-sm-3 center visible-lg">
       <img src="{{ url('image://fashion-commerce.png') }}" alt="fashion-commerce" width="78" height="80">
       <h5>Fashion &amp; Retail / Digital<br>&amp; Social Commerce</h4>
       <img src="{{ url('image://consumer-engagement.png') }}" alt="consumer-engagement" width="78" height="80">
       <h5>Consumer Social Engagement</h4>
       <img src="{{ url('image://cloud-services.png') }}" alt="cloud-services" width="78" height="80">
       <h5>Cloud<br>Services</h4>
     </div>
     <!-- Controls -->
       <a class="right carousel-control visible-xs" href="#investmentStrategySlides" data-slide="next">
         <span class="icon-next"></span>
       </a>
     <a class="buttons btn btn-large btn-primary btn-dark hidden-xs" href="#investmentStrategySlides" data-slide="next"></span>STRATEGY <span class="glyphicon glyphicon-chevron-right"></a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->

<div class="item section-four-header">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 section-four-content">
       <h2 class="heading text-center">Investment Strategy</h2>
       <img class="img-responsive center hrule-bottom twenty-five-opacity" src="{{ url('image://hrule-dark@2x.png') }}" alt="hrule@2x" width="340" height="30">
     </div>
     <div class="col-sm-2 col-sm-offset-2">
       <div class="center strategyPage2 visible-lg">
         <img class="fashion" src="{{ url('image://fashion-commerce.png') }}" alt="fashion-commerce" width="78" height="80">

         <img class="consumer" src="{{ url('image://consumer-engagement.png') }}" alt="consumer-engagement" width="78" height="80">

         <img class="cloud" src="{{ url('image://cloud-services.png') }}" alt="cloud-services" width="78" height="80">

       </div>
     </div>
     <div class="col-lg-6 col-sm-10 col-sm-offset-1 dark-text">
       <h5 >Fashion &amp; Retail / Digital &amp; Social Commerce</h5>
       <p>Venture and growth opportunities in the Fashion, Apparel, Accessories and Beauty sectors, especially consumer focused concepts that utilize Digital &amp; Social Commerce. The brands of the future must successfully navigate the merging of the physical and digital domains, guided by those with experience in both.</p>
       <hr>
       <h5>Consumer Social Engagement</h5>
       <p>Harnessing the rapid growth in Ubiquitous technology and Mobility to create innovative Communities, Websites, Applications, and Distribution models that directly empower and engage Consumers worldwide.</p>
       <hr>
       <h5>Cloud Services</h5>
       <p>Targeting Consumer focused Platforms that disrupt traditional business models, and backend Enterprise cloud solutions that enable the Consumer web, Marketing, Data analytics, Fashion and Retail operations.</p>
     </div>
     <!-- Controls -->
       <a class="left carousel-control visible-xs" href="#investmentStrategySlides" data-slide="prev">
         <span class="icon-prev"></span>
       </a>
     <a class="buttons btn btn-large btn-primary btn-dark hidden-xs" href="#investmentStrategySlides" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> INVESTMENT</a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->

</div><!-- corusel-inner -->
</div><!-- carousel -->

<!-- Section Five
================================================== -->
<a class="anchor" id="expertise"></a>
<div class="section-five-header">
<div class="container">
<div class="row">
 <div class="col-lg-8 col-lg-offset-2 section-five-content">
   <h2 class="heading text-center">Expertise</h2>
   <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="1">
   <h2 class="tagline text-center">Innovation Global Capital brings strategic insight and an innovative approach based upon executive experience.</h2>
   <div class="col-sm-4 col-sm-offset-2 center">
     <div class="expertiseItem">
       <img src="{{ url('image://ico-growth@2x.png') }}" alt="ico-growth@2x" width="17" height="22">
       <h5>Growth Strategy</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-global@2x.png') }}" alt="ico-global@2x" width="21" height="21">
       <h5>Global Expansion</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-digital@2x.png') }}" alt="ico-digital@2x" width="20" height="20">
       <h5>Digital Strategy</h5>
     </div>
   </div><!-- col -->
   <div class="col-sm-4 center">
     <div class="expertiseItem">
       <img src="{{ url('image://ico-brand@2x.png') }}" alt="ico-brand@2x" width="19" height="19">
       <h5>Brand Development</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-marketing@2x.png') }}" alt="ico-marketing@2x" width="19" height="19">
       <h5>Marketing &amp; Communications</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-consumers@2x.png') }}" alt="ico-consumers@2x" width="25" height="14">
       <h5>Consumer Insight</h5>
     </div>
   </div><!-- col -->
   <div class="col-sm-4 center">
     <div class="expertiseItem">
       <img src="{{ url('image://ico-management@2x.png') }}" alt="ico-management@2x" width="18" height="22">
       <h5>Management &amp; Organization</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-strategic@2x.png') }}" alt="ico-strategic@2x" width="31" height="20">
       <h5>Strategic Alliances<br>&amp; Partnerships</h5>
     </div>
     <div class="expertiseItem">
       <img src="{{ url('image://ico-retail@2x.png') }}" alt="ico-retail@2x" width="22" height="16">
       <h5>Retail Strategy</h5>
     </div>
   </div>
 </div>
</div>
</div>
</div>

<!-- Section Six
================================================== -->
<div id="proposalsSlides" class="carousel slide section-six-header" data-interval="false">
<a class="anchor" id="proposals"></a>
<div class="carousel-inner">
<div class="item active">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 section-six-content">
       <h2 class="heading text-center">Proposals</h2>
       <img class="img-responsive center hrule-bottom twenty-five-opacity" src="{{ url('image://hrule-dark@2x.png') }}" alt="hrule@2x" width="340" height="30">
       <div class="twocolumn proposals1 dark-text">
         <p class="medium">I'm an Entrepreneur. What kind of board and investors should I assemble?</p>
         <p>Think of baseball. One would never try and build a World Series team full of shortstops. A winning team needs a great pitcher, a catcher, a third baseman, and so on. Individual stars who come together to pursue a common vision of achieving the unachievable.</p>
         <p>Similarly, the best boards are a balanced team of experts. Assemble a board that can help you build a company and create value by bringing to bear expertise in general management, corporate strategy, brand strategy, tech, finance, management organization and operations. Find experienced executives and smart investors. Be sure the fund partner you respect will actually join your board. Cultivate investors with unique relationships and add a global perspective to supplement a domestic point of view.</p>
         <p class="medium">How are opportunities assessed?<br>We consider the following criteria:</p>
           <ul>
             <li>The Founders: vision, commitment and expertise</li>
             <li>Long-Term Value Creation potential</li>
             <li>Innovative Nature and Competitive Advantage of the Product/Services/Concept</li>
             <li>Ability to leverage our strengths to accelerate growth and create value</li>
           </ul>
       </div>
     </div>
     <!-- Controls -->
       <a class="right carousel-control visible-sm visible-xs" href="#proposalsSlides" data-slide="next">
         <span class="icon-next"></span>
       </a>
     <a class="buttons btn btn-large btn-primary btn-dark hidden-sm hidden-xs" href="#proposalsSlides" data-slide="next">NEXT STEPS <span class="glyphicon glyphicon-chevron-right"></span></a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->

<div class="item">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2 section-six-content">
       <h2 class="heading text-center">Proposals</h2>
       <img class="img-responsive center hrule-bottom twenty-five-opacity" src="{{ url('image://hrule-dark@2x.png') }}" alt="hrule@2x" width="340" height="30">
       <div class="twocolumn">
         <p class="medium">What should I address?</p>
         <ol class="proposal-list">
           <li><i>Team Members &amp; Qualified Experience</i></li>
           <li><i>Market Summary</i><br>Outline (a) the Market size & growth rates, (b) the Market Opportunity, and (c) the Competitive Landscape</li>
           <li><i>Innovative Advantage</i><br>Describe your product, technology, patents, processes, service, and/or concept. How is it innovative? What is the competitive advantage? What makes it unique and superior?</li>
           <li><i>Customer</i><br>Who is the Customer? Where are they? What do they require? Why are they buying, and/or why do they want your product or services?</li>
           <br>
           <li><i>Business Model / Basic Financials</i><br>How are you generating revenue? What is your growth rate and how will you grow? Are you profitable? When will you become profitable?</li>
           <li><i>Board Members / Investors</i></li>
           <li><i>Referrals</i></li>
         </ol>
         <p><span class="medium">What are the next steps?</span><br>We will contact you directly if your proposal fulfills our investment criteria. A direct referral from a trusted individual within our network can significantly help facilitate a response.</p>
         <p><span class="medium">Submitting a proposal</span><br>Please send a presentation to <a href="contact.html">our offices</a> or to <a href="mailto:proposals@innovationglobal.com">proposals@innovationglobal.com</a>.</p>

       </div>
     </div>
     <!-- Controls -->
       <a class="left carousel-control visible-sm visible-xs" href="#proposalsSlides" data-slide="prev">
         <span class="icon-prev"></span>
       </a>
     <a class="buttons btn btn-large btn-primary btn-dark hidden-sm hidden-xs" href="#proposalsSlides" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> PROPOSALS</a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->

</div><!-- corusel-inner -->
</div><!-- carousel -->



<!-- Section Seven
================================================== -->

<div id="principlesSlides" class="carousel slide section-seven-header" data-interval="false">
<a class="anchor" id="philosophy"></a>
<!-- Slide 1 -->
<div class="carousel-inner">

<div class="item active philosophy">
 <div class="container">
     <div class="row">
       <div class="col-sm-8 col-sm-offset-2">
         <h2 class="heading text-center">Philosophy</h2>
         <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="1">
         <h2 class="text-center hidden-sm hidden-xs">We strive for long-term shared success based upon our core principles.</h2>
       </div>
       <div class="col-md-12">
         <div class="col-md-2 col-md-offset-1 principles">
           <h4>Excellence</h4>
           <p>Perpetually<br>strive for global excellence.</p>
         </div>
         <div class="col-md-2 principles">
           <h4>Innovation</h4>
           <p>Continually innovate for competitive advantage.</p>
         </div>
         <div class="col-md-2 principles">
           <h4>Integrity</h4>
           <p>Value Integrity  and Trust foremost.</p>
         </div>
         <div class="col-md-2 principles">
           <h4>Partnership</h4>
           <p>Form win-win partnerships.</p>
         </div>
         <div class="col-md-2 principles principles-last">
           <h4>Social Responsibility</h4>
           <p>Contribute to a better society.</p>
         </div>
       </div>
     </div>
     <!-- Controls -->
     <a class="right carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="next">
       <span class="icon-next"></span>
     </a>
 </div>
 <a class="buttons-philosophy hidden-sm hidden-xs btn btn-large btn-primary" href="#principlesSlides" data-slide="next">OUR WORLDVIEW <span class="glyphicon glyphicon-chevron-right"></span></a>
</div><!-- item -->

<div class="item innovation">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2">
       <h2 class="heading light-text text-center">Philosophy</h2>
       <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="30">
       <h2 class="text-center hidden-xs">The company name Innovation Global Capital reflects our worldview.</h2>
       <h4 class="two-column-title">INNOVATION</h4>
       <div class="twocolumn light-text">
         <p>We only work with the most innovative entrepreneurs and companies.</p>
         <p>Innovation is the only competitive advantage when information is democratic and immediate. In an era where industry disruption can begin in a dorm room, companies must continually innovate to compete in the global marketplace. Equally, an innovative concept or brand can aggressively expand and pioneer a new market. We believe that innovation cannot be a one-off event – it requires a relentless and continual commitment.</p>
       </div>
       <div class="col-sm-1 innovation-buttons prev-btn hidden-sm hidden-xs">
         <a class="btn btn-large btn-primary" href="#principlesSlides" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> PHILOSOPHY</a>
       </div>
       <div class="col-sm-1 col-sm-offset-9 innovation-buttons hidden-sm hidden-xs">
         <a class="btn btn-large btn-primary" href="#principlesSlides" data-slide="next">GLOBAL <span class="glyphicon glyphicon-chevron-right"></span></a>
       </div>
       <!-- Indicators -->
       <ol class="carousel-indicators visible-md visible-lg">
         <li data-target="#principlesSlides" data-slide-to="0"></li>
         <li data-target="#principlesSlides" data-slide-to="1" class="active"></li>
         <li data-target="#principlesSlides" data-slide-to="2"></li>
         <li data-target="#principlesSlides" data-slide-to="3"></li>
       </ol>
     </div>
     <!-- Controls -->
     <a class="left carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="prev">
       <span class="icon-prev"></span>
     </a>
     <a class="right carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="next">
       <span class="icon-next"></span>
     </a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->
<div class="item global">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2">
       <h2 class="heading light-text text-center">Philosophy</h2>
       <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="30">
       <h2 class="text-center hidden-xs">The company name Innovation Global Capital reflects our worldview.</h2>
       <h4 class="two-column-title">GLOBAL</h4>
       <div class="twocolumn light-text">
         <p>We firmly believe only global concepts and companies will survive and dominate in the 21st century. Consumers, markets, trends and information have become globalized. Entrepreneurs can no longer succeed simply by building a parochial domestic company. Whereas global opportunities were often considered only years after a company was founded, now most great ideas are globally scalable. With the right global relationships and knowledge, there are significant first mover advantages for the innovative. Globalization is an oft used word, but the world truly is Global.</p>
       </div>
       <div class="col-sm-1 global-buttons prev-btn hidden-sm hidden-xs">
         <a class="btn btn-large btn-primary" href="#principlesSlides" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> INNOVATION</a>
       </div>
       <div class="col-sm-1 col-sm-offset-9 global-buttons hidden-sm hidden-xs">
         <a class="btn btn-large btn-primary" href="#principlesSlides" data-slide="next">CAPITAL <span class="glyphicon glyphicon-chevron-right"></span></a>
       </div>
       <!-- Indicators -->
       <ol class="carousel-indicators visible-md visible-lg">
         <li data-target="#principlesSlides" data-slide-to="0"></li>
         <li data-target="#principlesSlides" data-slide-to="1"></li>
         <li class="activeSlide"></li>
         <li data-target="#principlesSlides" data-slide-to="3"></li>
       </ol>
     </div>
     <!-- Controls -->
     <a class="left carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="prev">
       <span class="icon-prev"></span>
     </a>
     <a class="right carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="next">
       <span class="icon-next"></span>
     </a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->
<div class="item capital">
 <div class="container">
   <div class="row">
     <div class="col-sm-8 col-sm-offset-2">
       <h2 class="heading light-text text-center">Philosophy</h2>
       <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="30">
       <h2 class="text-center hidden-xs">The company name Innovation Global Capital reflects our worldview.</h2>
       <h4 class="two-column-title">CAPITAL</h4>
       <div class="twocolumn light-text">
         <p>It is a given that capital is essential to growth. Innovation Global Capital, however, is different.</p>
         <p>We believe capital must be combined with experience, that creativity must coexist with rationality.</p>
         <p>We integrate both the passionate emotions of brands and the profit imperative of business.</p>
         <p><br></p>
         <p>Our approach to investing is to partner with visionary entrepreneurs who are driven to change the world.</p>
         <p>We provide capital and executive experience to propel growth and profitability, working together to create long term value as trusted confidant and partner.</p>
         <p>We think like entrepreneurs because we are entrepreneurs.</p>
       </div>
       <div class="col-sm-1 col-sm-offset-5 capital-buttons prev-btn hidden-sm hidden-xs">
         <a class="btn btn-large btn-primary" href="#principlesSlides" data-slide="prev"><span class="glyphicon glyphicon-chevron-left"></span> GLOBAL</a>
       </div>
     </div>
     <!-- Controls -->
     <a class="left carousel-control visible-sm visible-xs" href="#principlesSlides" data-slide="prev">
       <span class="icon-prev"></span>
     </a>
   </div><!-- row -->
 </div><!-- container -->
</div><!-- item -->
</div>
</div>

<!-- Section Eight
================================================== -->
<div class="fill section-eight-header">
 <div id="section-eight-carousel" class="carousel slide" data-ride="carousel" data-interval="3500">
   <div class="carousel-inner">
     <div class="active item">
       <div class="fill" style="background-image:url('{{ url('image://bg-section8-1.png') }}');">
       </div>
     </div>
     <div class="item">
       <div class="fill" style="background-image:url('{{ url('image://bg-section8-2.png') }}');">
       </div>
     </div>
     <div class="item">
       <div class="fill" style="background-image:url('{{ url('image://bg-section8-3.png') }}');">
       </div>
     </div>
   </div>
 </div><!-- carousel-inner -->
</div><!-- carousel slide -->
</div><!-- container fill -->
<div class="container section-eight-content">
 <div class="row">
   <div class="col-lg-8 col-lg-offset-2 section-one-content">
     <img class="img-responsive center hrule-top" src="{{ url('image://hrule-logo@2x.png') }}" alt="hrule-logo@2x" width="340" height="30">
     <h2 class="tagline text-center">Entrepreneurship is built upon faith and passion. The entrepreneur will face naysayers along the journey. Yet the successful entrepreneur sees through the fog of uncertainty to <i>create the future.</i></h2>
     <img class="img-responsive center hrule-bottom" src="{{ url('image://hrule@2x.png') }}" alt="hrule@2x" width="340" height="30">
   </div>
 </div>
</div>
</div>
{% endblock %}
