{% set theme_config = attribute(config.themes, config.system.pages.theme) %}
<!DOCTYPE html>
<html lang="{{ grav.language.getActive ?: theme_config.default_lang }}">
<head>
{% block head %}
    <meta charset="utf-8" />
    <title>{% if header.title %}{{ header.title|e('html') }} | {% endif %}{{ site.title|e('html') }}</title>

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
		<meta name="description" content="Innovation Global Capital partners with exceptional entrepreneurs to build innovative global companies that change the world.">
		<meta name="author" content="Innovation Global Capital">
    {% include 'partials/metadata.html.twig' %}

    <!--link rel="icon" type="image/png" href="{{ url('theme://images/logo.png') }}" /-->
    <!--link rel="canonical" href="{{ page.url(true, true) }}" /-->

    {% block stylesheets %}
        {% do assets.addCss('//cloud.typography.com/7078452/619302/css/fonts.css', 100) %}
        {% do assets.addCss('theme://css/bootstrap.min.css', 99) %}
        {% do assets.addCss('theme://css/igc.css', 98) %}
        {% do assets.addCss('theme://css/' ~ page.slug() ~ '.css', 97) %}
    {% endblock %}
    {{ assets.css() }}

    {% block javascripts %}
        {% do assets.addJs(
          'https://ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js',
          100
        )%}
        {% do assets.addJs('theme://js/bootstrap.js', 99) %}
    {% endblock %}
    {{ assets.js() }}

{% endblock head%}
</head>
<body class="{{ page.header.body_classes }}">

{% block header %}
  <!-- Navigation
  ================================================== -->
  <div class="section-one-header">
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
      <div class="container">
        <div class="navbar-header">
          <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
          </button>
          <a class="navbar-brand" href="index.html"><img src="{{ url('theme://images/IGC_Horizontal.svg') }}" alt="IGC Logo" width="180"></a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a href="/#firm">The Firm</a></li>
<!--          <li><a href="#leadership">Leadership</a></li> -->
            <li><a href="/#investment">Investment Strategy</a></li>
            <li><a href="companies.html">Companies</a></li>
<!--          <li class="dropdown">
              <a href="#" class="dropdown-toggle" data-toggle="dropdown">Press <b class="caret"></b></a>
              <ul class="dropdown-menu">
                <li><a href="http://www.cbsnews.com/8301-3445_162-57590575/the-fast-rise-of-japanese-retailer-uniqlo/" target="_blank">CBS <span class="glyphicon glyphicon-new-window"></span></a></li>
                <li><a href="http://www.sfgate.com/business/article/Uniqlo-opens-S-F-store-3919489.php#photo-3541690" target="_blank">Sanfrancisco Chronicle <span class="glyphicon glyphicon-new-window"></span></a></li>
                <li><a href="http://www.wired.com/business/2012/08/upending-fashion-steve-jobs-style-10-questions-with-uniqlos-yasunobu-kyogoku/" target="_blank">Wired <span class="glyphicon glyphicon-new-window"></span></a></li>
                <li><a href="http://www.washingtonpost.com/posttv/business/kyogoku-says-uniqlo-focused-on-quality-to-boost-sales/2011/07/13/gIQAwbcrCI_video.html" target="_blank">Bloomberg TV <span class="glyphicon glyphicon-new-window"></span></a></li>
                <li><a href="http://video.cnbc.com/gallery/?video=3000045132" target="_blank">CNBC <span class="glyphicon glyphicon-new-window"></span></a></li>
              </ul>
            </li>
-->
            <li><a href="contact.html">Contact Us</a></li>
          </ul>
        </div><!--/.nav-collapse -->
      </div>
    </div>
  </div>
{% endblock %}

{% block body %}
    <section id="body">
        <div class="wrapper padding">
        {% block content %}{% endblock %}
        </div>
    </section>
{% endblock %}

{% block footer %}
<!-- Footer
================================================== -->
<a class="anchor" id="contact"></a>
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="col-sm-6">
        <div class="footer-logo">
          <a href="index.html"><img src="{{ url('theme://images/IGC_Horizontal.svg') }}" alt="IGC Logo" width="180"></a>
        </div>
      </div>
      <div class="col-sm-6">
        <div class="press">
          <ul>
            <li>For general inquiries:<br><a href="mailto:info@innovationglobal.com">info@innovationglobal.com</a></li>
            <li>For press inquiries:<br><a href="mailto:press@innovationglobal.com">press@innovationglobal.com</a></li>
          </ul>
        </div>
        <div class="addy">
          <address>
            Innovation Global Capital<br>
            555 California St Suite 4925 <br>
            San Francisco, CA 94104 <br>
            Tel   (415) 926-2030 <br>
            Fax  (415) 659-1950 <br>
          </address>
        </div>
      </div>
    </div><!-- /row -->
    <div class="row">
      <div class="col-sm-12 copyright">
        <div class="sponsor">
          <div class="sponsor-text">Proud Sponsor Of</div>
          <img src="{{ url('theme://images/SFB.png') }}" alt="proud sponsor of San Francisco Ballet">
        </div>
        <p>
          &copy; 2013 - 2017 Innovation Global Capital, LLC
          |  <a class="alta" href="terms.html">Terms of Use</a>
          |  <a class="alta" href="fsa-disclosures.html">FSA Disclosures</a>
        </p>
      </div>
    </div>
  </div>
</div><!-- footer -->
{% endblock %}

{% block bottom %}
    {{ assets.js('bottom') }}
{% endblock %}

</body>
</html>
